{% extends 'paginate.html' %}

{% block content %}
<main class="recipe-grid">
    {% for meal_plans in mealplan_list %}
    <div class="recipe-card">
        <h2 class="recipe-card-title">
            <a href="{% url 'meal_plans_detail' meal_plans.pk %}">{{ meal_plans.name }}</a>
        </h2>
        {% for recipe in meal_plans.recipes.all %}
        <p>
            <a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.name }}</a>
        </p>
        {% endfor %}
    </div>
    {% empty %}
    <div>
        <h1>No meal plans, yet</h1>
    </div>
    {% endfor %}

    <div>
        <p><a href="{% url 'meal_plans_new' %}">Create</a> a plan.</p>
    </div>

</main>
{% endblock content %}
